{
	"tabWidth": 3,
	"printWidth": 90,
	"useTabs": false,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always"
}